build/
Build/
build-*/

Makefile
Makefile.*
*.make

*.exe
*.dll
*.so
*.so.*
*.dylib
*.a
*.lib
*.exp
*.pdb
*.ilk

*.o
*.obj

moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.moc

*.qm

.qmake.stash
.qmake.cache


*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.autosave

.qtcreator/
*.creator
*.creator.user
*.includes
*.files
*.config

*.idb
*.ipdb
*.iobj
*.pch
*.suo
*.ncb
*.opensdf
*.sdf
*.VC.db
*.VC.VC.opendb
x64/
x86/
Debug/
Release/
debug/
release/

*.gch

.DS_Store
.AppleDouble
.LSOverride
*.dSYM/

*~


.cache/
compile_commands.json
.qtc_clangd/


cache/
temp/
*.part
*.download


*.log
*.stackdump
core
core.*

.env
.env.*